body{
  width: 100%;
  margin: auto;
  -webkit-background-size:cover;
}
.hehe1{
  background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../img/h1.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-size:cover;

}
.hehe{
  width: 105%;
  position: fixed;
  z-index: 100;
}



.hehe a{
  font-family: Gulim;
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
}
.hehe a:hover{
  background-color: #2E2E2E;
  -webkit-transition:1s;

}
.hehe1 h1{
  font-family: Gulim;
  font-weight:bolder;
  color: #f1f1f1;
}
.hehe1a h6{
  border: 1px solid white;
  border-radius: 0%;

  color: #f2f2f2;
  font-weight: bold;
  font-family: Gulim;
  padding-top: 3%;
  padding-bottom: 3%;
}
.hehe1a{
  padding-left: 30%;
  padding-right: 30%;
}
.hehe1 h5{
  color: #f2f2f2;
  font-family: Gulim;
  font-weight: bold;

}
.hehe1a p{
  font-weight: bold;
  color: #f2f2f2;
  font-family: Gulim;
}
.bobo{
  text-align: center;
  font-weight: bolder;
  font-family: Gulim;
}
.cont2{
  background-color: #2E2E2E ;
  padding-top: 3%;
  font-family: Gulim;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;

}
.ba{
  text-align: justify;
}
.cont2 .card-body{
  background-color: #045FB4;
  color: #f2f2f2;
}
.carousel-item h5 {

  font-family: Freestyle Script;
  font-size: 2rem;
}
.carousel-item p {
  font-weight: bold;
  font-family: Freestyle Script;
}
.footer{
  background: url("../img/footer.jpg");
  background-position: center;
  background-size: cover;
}
.footer-copyright{
  background-color: rgba(224,20,61,1);
  background: -moz-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,20,61,1)), color-stop(100%, rgba(237,112,3,1)));
  background: -webkit-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -o-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -ms-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: linear-gradient(to right, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0143d', endColorstr='#ed7003', GradientType=1 );
  color: #f2f2f2;
}
.iii{

  color: #A4A4A4;

}
.red{
  color: #A4A4A4;
}
.nombres{
  color: #A4A4A4;
}
@import url(https://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@import url(https://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
@import url(https://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
.cont4{
  background-color: #E6E6E6;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}
.cont4 .card1{
    background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%), url("../img/card.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #f2f2f2;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    font-weight: bold;
    font-family: Gulim;
    font-size: 40px;
}
.cont4 span{
  font-size: 100px;

}
.cardcard{
  font-family: Gulim;
}
.cont4 .card-text{

  text-align: justify;
}
.footer hr{
  background-color: #f2f2f2;
}
.cont4 .vis{
  border-radius: 10%;
  border: 6px outset rgba(224,20,61,1);
  background: -moz-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,20,61,1)), color-stop(100%, rgba(237,112,3,1)));
  background: -webkit-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -o-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -ms-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: linear-gradient(to right, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0143d', endColorstr='#ed7003', GradientType=1 );
}
.cont4 .jumbotron{
  text-align:center;
  background-color: rgba(224,20,61,1);
  background: -moz-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,20,61,1)), color-stop(100%, rgba(237,112,3,1)));
  background: -webkit-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -o-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: -ms-linear-gradient(left, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  background: linear-gradient(to right, rgba(224,20,61,1) 0%, rgba(237,112,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0143d', endColorstr='#ed7003', GradientType=1 );
  color: #f2f2f2;
  font-family: Gulim;
  color: #f2f2f2;
  border-radius: 10%;
}
.verti{
  background-color: #151515;
  color: #f2f2f2;
  font-family: Gulim;
}
.eeee{
  padding-top: 3%;
}
.cont5{
  padding-top: 15%;
  padding-bottom:15% ;
  padding-left: 15%;
  padding-right: 15%;
  background:linear-gradient( rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1)100%), url("../img/cont5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.cont5 h1{
  color: #f2f2f2;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  font-family: Gulim;
}
.cont5 h4{
  font-family: Gulim;
  color: #f2f2f2;
}
.cont5 hr{
  color: #f2f2f2;
  background-color: #f2f2f2;
  font-weight: bold;

}

.cont6{
  background-color: #E6E6E6;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;

}
